# Ignore R-related files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore folders
data/
cheats/

# Ignore Quarto-related files
/.quarto/

# Ignore other system files
.DS_Store

# Ignore reports (.docx)
BBS_REPORT_*
BBS_REPORT*
Summary Sheets*
Updated*
summary-sheets.docx

# Handle temporary files to prevent tracking temp files
~$*.docx
# or on terminal echo "~$*.docx" >> .gitignore
~*.docx
